# Nusxa oling: .env deb saqlang va qiymatlarni to'ldiring.
# python-decouple .env faylini avtomatik o'qiydi.

SECRET_KEY=ozingizning-uzun-xavfsiz-kalitingiz
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
